@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.App {
  background-color: #202d36;
}

.dark-app {
  background-color: #fafafa !important;
  height: 100vh;
}

@media screen and (min-width: 700px) {
  .countries-main-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1020px) {
  .countries-main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1300px) {
  .countries-main-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .oneCountry {
    display: flex !important;
    gap: 20%;
  }
  .countryImgInside {
    width: 175%;
  }
  .for-1440px-one {
    gap: 2rem;
    display: flex;
  }
  .for-1440px-one .pd-t {
    padding-top: 0 !important;
  }
  .gridIt {
    gap: 1rem;
    gap: 2rem !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    position: relative;
    bottom: 0.1rem;
  }
  .borderCountry {
    height: fit-content;
  }
  .OneCountryInformation {
    padding-top: 3rem;
  }
  .border {
    padding-top: 3rem;
    display: flex;
    gap: 1rem;
  }
  .pd-t-1440px {
    padding-top: 0 !important;
  }
  .for-1440px {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .for-1440px .search-bar {
    width: 30%;
  }
  .for-1440px .filter {
    padding-top: 4rem;
  }
}
.one-country-info span {
  color: rgba(255, 255, 255, 0.696);
}

.dark-app .one-country-info span {
  color: rgba(0, 0, 0, 0.696);
}

.countries-main-page .center-one-country {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  padding: 0;
}

.problem {
  color: rgba(255, 255, 255, 0.641);
  text-align: center;
  padding-top: 5rem;
}

.dark-app .problem {
  color: rgba(0, 0, 0, 0.708);
  font-weight: 600;
}

.filter-by {
  padding: 0.5rem 1.25rem;
}

.filter-main {
  background-color: #2b3743;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 0.35rem;
  border-radius: 5px;
  width: 225px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.284);
}
.filter-main i {
  font-size: 0.75rem;
}

.filter {
  position: relative;
  color: white;
  width: fit-content;
  font-weight: 300;
  font-weight: 300;
}

.filters {
  position: absolute;
  width: 225px;
  right: 0px;
  padding: 1rem 0;
  padding-bottom: 0.25rem;
  background-color: #2b3743;
  margin: 1rem;
  margin-top: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.284);
}

.dark-app .filter {
  font-weight: 600;
  color: #000;
}
.dark-app .filter-main {
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.284);
}
.dark-app .filters {
  background-color: white;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.284);
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #2b3743;
  color: #fffffb;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.75rem;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.nav .NavText {
  font-weight: 800;
}
.nav .DarkMode {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
}

.dark-nav {
  color: #161719;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.122);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.122);
  -moz-box-shadow: 0px 1px 1px 1pxrgba 0, 0, 0, 0.122;
}

.one-country-block {
  width: 320px;
  color: #fffffe;
  background-color: #2b3743;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.284);
}
.one-country-block .info-one {
  padding: 2rem 1rem;
}
.one-country-block .info-one .one-country-text {
  font-weight: 800;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.one-country-block .info-one .one-country-info {
  padding: 0.45rem 0;
  font-weight: 600;
}
.one-country-block .info-one .one-country-info span {
  font-weight: 300;
}
.one-country-block img {
  border-radius: 10px 10px 0 0;
}

.dark-app .one-country-block {
  color: #000;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.284);
}
.dark-app .one-country-block .one-country-info {
  font-weight: 800;
}
.dark-app .one-country-block .one-country-info span {
  font-weight: 600;
}

.search-bar {
  padding: 1.5rem;
  padding-top: 7rem;
}
.search-bar .search-icon {
  position: absolute;
  left: 25px;
  top: 14px;
}
.search-bar .search-icon i {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8392156863);
}
.search-bar textarea:focus,
.search-bar input:focus {
  outline: none;
}
.search-bar input {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.607);
  background-color: #2b3743;
  border: none;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.284);
  width: 100%;
  padding: 1rem;
  padding-left: 5rem;
  border-radius: 5px;
}

.abs {
  position: relative;
}

.dark-app .search-icon i {
  color: #b0b0b0;
}
.dark-app input {
  color: rgba(0, 0, 0, 0.545);
  font-weight: 600;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.226);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.232);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.284);
  background-color: #ffffff;
}

html {
  height: fit-content;
  background-color: #202d36;
}

.dark-html {
  background-color: #fafafa;
}

.country-container {
  color: #fff;
  padding: 1.5rem 1.75rem;
  padding-top: 4.5rem;
}
.country-container .borderText {
  font-weight: 800;
}
.country-container .back-container {
  padding: 1rem 0;
}
.country-container .back-container .back {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.35rem 1.5rem;
  background-color: #2b3743;
  color: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.415);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.618);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.522);
}
.country-container .back-container .back .back-text {
  font-weight: 300;
}
.country-container .oneCountryImg {
  padding: 2rem 0;
}
.country-container .OneCountryInformation .oneCountryName {
  font-weight: 800;
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
}
.country-container .OneCountryInformation .InfoText {
  font-size: 0.9rem;
  padding: 0.5rem 0;
  display: flex;
  font-weight: 800;
  gap: 0.3rem;
}
.country-container .OneCountryInformation .InfoText span {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7098039216);
  display: flex;
  gap: 0.25rem;
}
.country-container .OneCountryInformation .pd-t {
  padding-top: 2rem;
}
.country-container .OneCountryInformation .pd-b {
  padding-bottom: 2rem;
}
.country-container .OneCountryInformation .borderText {
  padding-bottom: 1.5rem;
}
.country-container .gridIt {
  display: grid;
  gap: 1rem 0;
  grid-template-columns: 1fr 1fr 1fr;
}
.country-container .gridIt .borderCountry {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 95px;
  padding: 0.35rem 1.5rem;
  background-color: #2b3743;
  color: rgba(240, 248, 249, 0.7647058824);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.415);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.618);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.522);
  font-weight: 300;
  font-size: 0.75rem;
}

.dark-app .country-container {
  color: black !important;
}
.dark-app .country-container span {
  color: rgb(0, 0, 0) !important;
}
.dark-app .back {
  background-color: #ffffff !important;
  color: black !important;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.189) !important;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.26) !important;
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.197) !important;
}
.dark-app .borderText {
  font-weight: 800;
}
.dark-app .gridIt .borderCountry {
  background-color: #ffffff !important;
  color: black !important;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.189) !important;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.26) !important;
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.197) !important;
}

.noOne {
  width: 100% !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: hsla(0, 0%, 0%, 0.844);
  font-weight: 800;
  height: 100vh;
}

.dark-loading {
  color: white;
  background-color: #202d36;
}

/*# sourceMappingURL=styles.css.map */
